---
/* BLOG PAGE */
import Container from "@/components/container.astro";
import Pagetitle from "@/components/pagetitle.astro";
import Postlist from "@/components/postlist.astro";
import Layout from "@/layouts/Layout.astro";
import CategoryFilter from "@/components/CategoryFilter.astro";
import { latestPosts } from "@/utils/content";
import { categories } from "@/data/category";

// Step 2: Get all categories from data
let categorySlugs = categories.map((c) => c.slug);
---

<Layout title="Blog">
  <Container>
    <main>
      <Pagetitle>
        <Fragment slot="title">Blog</Fragment>
        <Fragment slot="desc">See all posts we have ever written.</Fragment>
      </Pagetitle>

      <main>
        {/** Step 2: Get all categories from data */}
        <div class="flex flex-wrap gap-2 mt-10 mb-2 justify-stretch CategoryFilter" id="categories" data-categories={categorySlugs}>
          {categories.map((cat) => <CategoryFilter category={cat.slug} />)}
        </div>

        <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
          {latestPosts.map((post) => {
            // Step 3: Add category as class to blog card
            let category = post.data.category;
            return (
              <div class={`blog-card ${category} h-full flex flex-col`} style="display: block;">
                <Postlist post={post} aspect="square" />
              </div>
            );
          })}
        </div>
      </main>
      <script is:inline>
        function hideBlogs(evt) {
          let selectedCategory = evt.currentTarget.getAttribute("data-type");
          let catElement = document.getElementById("categories");
          let categories = catElement.dataset.categories;
          categories = categories.split(",");
          categories.splice(categories.indexOf(selectedCategory), 1);

          categories.forEach((c) => {
            const elementsToHide = document.getElementsByClassName(c);
            for (let i = 0; i < elementsToHide.length; i++) {
              elementsToHide[i].style.display = "none";
            }
          });

          let elementsToShow = document.getElementsByClassName(selectedCategory);
          for (let i = 0; i < elementsToShow.length; i++) {
            elementsToShow[i].style.display = "block";
          }
        }

        // Event listener for the button click
        window.addEventListener("DOMContentLoaded", () => {
          const input = document.querySelectorAll("#blogFilter");
          input.forEach((e) => {
            e.addEventListener("click", hideBlogs);
          });
        });
      </script>
    </main>
  </Container>
</Layout>
