---
/* HOME PAGE */
import Container from "@/components/container.astro";
import Postlist from "@/components/postlist.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import bookmarks from "@/data/bookmarks.json";
import ToolCard from "@/components/ToolCard.astro";
import { latestPosts } from "@/utils/content";
// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.publishDate).valueOf() -
//     new Date(a.frontmatter.publishDate).valueOf()
// );
// console.log(posts[0].frontmatter.image);
---

<Layout title="">

  <!-- HERO -->
  <Hero
    title="Unlock Your Digital Potential"
    subtitle="Discover the best tools and strategies to boost your online business. In-depth guides, reviews, and resources to help you grow."
    imageSrc="/public/hero.png"
    imageAlt="Digital Marketing Tools Hero"
    variant="large"
    ctaButtons={[
      { label: "Explore Articles", href: "/blog", style: "primary" },
      { label: "Discover Tools", href: "/tools", style: "secondary" },
    ]}
  />

  <Container>
    <main class="mt-16">

      {/* BLOG POSTS 2 COLUMNS */}
      <div class="grid gap-10 lg:gap-10 grid-cols-1 sm:grid-cols-2">
        {
          latestPosts
            .slice(0, 2)
            .map((post) => (
              <Postlist post={post} aspect="landscape" preloadImage={true} />
            ))
        }
      </div>

      {/* BLOG POSTS 3 COLUMNS */}
      <div class="grid gap-8 mt-10 lg:gap-8 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
        {
          latestPosts
            .slice(2, 8)
            .map((post) => <Postlist post={post} aspect="landscape" />)
        }
      </div>

      {/* FEATURED TOOLS */}
      <div class="flex flex-wrap justify-center gap-8 mt-12">
        {
          bookmarks.slice(0, 8).map((tool) => (
            <div class="w-full sm:w-[45%] md:w-[22%] max-w-xs mb-6 flex">
              <ToolCard tool={tool} />
            </div>
          ))
        }
      </div>
    </main>
  </Container>
</Layout>
