---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import { Image, getImage } from "astro:assets";
import bookmarks from "@/data/bookmarks.json";
import Pagetitle from "@/components/pagetitle.astro";

import ToolCard from "@/components/ToolCard.astro";

---

<Layout title="Tools">
  <Container>
    <Pagetitle>
      <Fragment slot="title">Tools</Fragment>
      <Fragment slot="desc">Here an amazing collection of tools</Fragment>
    </Pagetitle>

    <div class="flex flex-wrap justify-center gap-8 mt-12">
      {
        bookmarks.map((tool) => (
          <div class="w-full sm:w-[45%] md:w-[22%] max-w-xs mb-6 flex">
            <ToolCard tool={tool} />
          </div>
        ))
      }
    </div>

  </Container>
</Layout>
