---
const { tag } = Astro.props;
---
<button data-type={tag} class="text-primary bg-gray-200 p-2 mx-2 rounded-full cursor-pointer hover:bg-primary hover:text-white transition" id="blogFilter">
  {tag}
</button>
