---
const { category } = Astro.props;
import { categories } from "@/data/category";
const cat = categories.find((c) => c.slug === category);
---
<button data-type={category} class={`text-primary bg-blue-700 text-white px-4 py-2 mx-2 rounded-full cursor-pointer hover:bg-${cat?.color || 'gray'}-500 hover:text-white transition`} id="blogFilter">
  {cat ? cat.title : category}
</button>
