---
// DigitalMarketingLogo.astro
---

<!-- Digital Marketing Tools Logo Banner TailwindCSS + Astro component -->

<div class="border-4 border-black dark:border-white flex items-start w-fit flex-col sm:flex-row">
    <span class="text-lg font-extrabold tracking-tight px-3 py-1 text-black dark:text-white font-montserrat">DIGITAL MARKETING</span>
    <span class="text-lg font-extrabold tracking-tight px-3 py-1 bg-black text-white dark:bg-white dark:text-black font-montserrat w-full sm:w-auto">TOOLS</span>
</div>

<!-- <div class="text-[2.1em] mt-2 text-black dark:text-white tracking-tight text-left font-montserrat">
    Utility and Resources for your Digital Passion!
</div> -->

<style is:global>
.font-montserrat {
font-family: 'Montserrat', Arial, sans-serif;
}
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:900,400&display=swap">
